
Dungeons of Tiamat/objects/obj_restartbtn/Mouse_4.gml
Dungeons of Tiamat/objects/obj_restartbtn/obj_restartbtn.yy
Dungeons of Tiamat/objects/obj_restartbtn/obj_restartbtn.yy
Dungeons of Tiamat/objects/obj_restartbtn_1/Mouse_4.gml
Dungeons of Tiamat/objects/obj_restartbtn/obj_restartbtn.yy
